.App {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

.App-header {
  background-image: url("./louis-reed-unsplash.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: right;
  background-color:#202231;
  background-blend-mode:screen;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

html{
  background-color: #202231;
}

.subtitle{
  font-size: 3rem;
  margin:0;
  color: #EDF2F4;
}

.title{
  font-size: 8rem;
  font-family: 'UnifrakturMaguntia', cursive;
  color: #EF233C;
  margin: 0;
}

.content{
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  width: 80%;

}

.card{
  width:30%;
  border-radius: 10px;
  background-color: #EDF2F4;
  color: #EF233C;
  padding:10px;
  margin: 20px;
}

.projects{
  padding:40px;
  color: #2B2D42;
  background-color: #B40421;
}

.projects-title{
  font-size: 4rem;
  margin:0;
  color: #EDF2F4;
  font-family: 'UnifrakturMaguntia', cursive;
}

.overview{
  padding:40px;
  color: #202231;
  background-color: #8d99ae;
  text-align: center;
}

.overview-title{
  font-size: 4rem;
  margin:0;
  color: #202231;
  width: 100%;
  font-family: 'UnifrakturMaguntia', cursive;
}

.overview-content{
  width: 80%;
  margin: 0 auto;
  padding:10px;
}
